[target="rio"] {
    background-color: greenyellow;
}

[class^="nio-jio"] {
    background-color: aquamarine;
}

[class$="jio-nio"] {
    background-color: antiquewhite;
}

[class*="nio-jio"] {
    background-color: darkgreen;
}


/* [title~="max"] {
    background-color: blanchedalmond;
} */

[title~="mad"] {
    background-color: darkgray;
}