div {
    border: 3px solid black;
    height: 350px;
    width: 300px;
    /* background-color: rgb(150, 180, 90); */
    /* background-color: rgba(120, 150, 70, 0.3); */
    /* background-color: hsl(50, 70%, 36%); */
    /* background-color: hsla(180, 55%, 46%, 1.4); */
    background-color: #33ff33;
}

* {
    background-color: black;
}